In [1]:
import numpy as np
import pandas as pd

In [2]:
dict1= {
    "name":['harry', 'ashutosh', 'ankit', 'rahul'],
    "city":['ajmer', 'delhi', 'pune', 'hyderabad'],
    "marks":[95,85,79,89]
}

In [3]:
df = pd.DataFrame(dict1)

In [4]:
df

        city  marks      name
0      ajmer     95     harry
1      delhi     85  ashutosh
2       pune     79     ankit
3  hyderabad     89     rahul

In [5]:
df.to_csv('friends.csv')

In [6]:
df.to_csv('friendsWithoutIndex.csv', index = False)

In [7]:
df.head(2)

    city  marks      name
0  ajmer     95     harry
1  delhi     85  ashutosh

In [8]:
df.tail(2)

        city  marks   name
2       pune     79  ankit
3  hyderabad     89  rahul

In [9]:
df.describe()

           marks
count   4.000000
mean   87.000000
std     6.733003
min    79.000000
25%    83.500000
50%    87.000000
75%    90.500000
max    95.000000

In [10]:
data = pd.read_csv('Desktop/traindata.csv')

In [11]:
data

   Train  Speed     Source
0   3421     80      Delhi
1   7890     90    Kolkata
2   1564     90  Ahmedabad
3  89765     60     Jiapur

In [12]:
data['Speed']

0    80
1    90
2    90
3    60
Name: Speed, dtype: int64

In [13]:
data['Speed'][0]

80

In [14]:
data['Speed'][1] = 120

C:\Users\hp\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [15]:
data.to_csv('Desktop/traindat.csv')

In [16]:
print(type(data))

<class 'pandas.core.frame.DataFrame'>

In [17]:
sers = pd.Series(np.random.rand(20))

In [18]:
sers

0     0.010768
1     0.849790
2     0.575652
3     0.531793
4     0.420122
5     0.518277
6     0.369103
7     0.308677
8     0.409904
9     0.283182
10    0.705610
11    0.165318
12    0.722485
13    0.924839
14    0.279666
15    0.233401
16    0.002571
17    0.916143
18    0.590056
19    0.861502
dtype: float64

type(sers)

In [19]:
newdf = pd.DataFrame(np.random.rand(350,5), np.arange(350))

In [20]:
newdf.head()

          0         1         2         3         4
0  0.206598  0.395456  0.776960  0.587314  0.969947
1  0.868161  0.798061  0.476054  0.519248  0.079829
2  0.901271  0.580773  0.522470  0.711174  0.925488
3  0.998221  0.451612  0.922528  0.711630  0.667078
4  0.682794  0.965463  0.074820  0.898969  0.285052

In [21]:
type(newdf)

pandas.core.frame.DataFrame

In [22]:
print(type(newdf))

<class 'pandas.core.frame.DataFrame'>

In [23]:
newdf.describe()

                0           1           2           3           4
count  350.000000  350.000000  350.000000  350.000000  350.000000
mean     0.510482    0.498748    0.502924    0.502327    0.490330
std      0.282749    0.265793    0.285266    0.284718    0.281628
min      0.000788    0.001366    0.002885    0.005272    0.003773
25%      0.286177    0.292010    0.268309    0.285016    0.250153
50%      0.518487    0.487740    0.495755    0.507464    0.477598
75%      0.750880    0.716192    0.763991    0.715179    0.718214
max      0.998221    0.999536    0.999951    0.998482    0.991633

In [24]:
newdf.dtypes

0    float64
1    float64
2    float64
3    float64
4    float64
dtype: object

In [25]:
newdf[0][0] = "harry"

In [26]:
newdf.head()

          0         1         2         3         4
0     harry  0.395456  0.776960  0.587314  0.969947
1  0.868161  0.798061  0.476054  0.519248  0.079829
2  0.901271  0.580773  0.522470  0.711174  0.925488
3  0.998221  0.451612  0.922528  0.711630  0.667078
4  0.682794  0.965463  0.074820  0.898969  0.285052

In [27]:
newdf.dtypes

0     object
1    float64
2    float64
3    float64
4    float64
dtype: object

In [28]:
newdf.sort_index(axis=0, ascending=False)

             0         1         2         3         4
349   0.883845  0.576840  0.947440  0.558787  0.185327
348   0.760211  0.493744  0.295683  0.735976  0.297123
347   0.538597  0.565737  0.124129  0.295371  0.643030
346   0.045402  0.118616  0.067674  0.065454  0.608584
345   0.349763  0.739204  0.355807  0.445572  0.128885
344   0.281042  0.359449  0.445873  0.210678  0.256163
343   0.483517  0.535695  0.955937  0.563943  0.302458
342   0.428325  0.245934  0.649996  0.027817  0.625341
341   0.906225  0.672298  0.544134  0.702203  0.479389
340   0.419235  0.864961  0.104233  0.277078  0.015283
339   0.966433  0.152933  0.626717  0.172442  0.142435
338  0.0260819  0.576547  0.325827  0.394275  0.769777
337  0.0398431  0.920281  0.375224  0.057183  0.566452
336   0.627261  0.699798  0.582243  0.677790  0.443392
335   0.454272  0.208784  0.207448  0.702679  0.794562
334   0.540665  0.661626  0.703349  0.990872  0.156216
333   0.938535  0.586684  0.787865  0.687916  0.008605
332    0.34924  0.203925  0.176318  0.766317  0.058893
331  0.0387541  0.086515  0.689299  0.231827  0.682755
330   0.217484  0.561724  0.179081  0.506318  0.316234
329   0.350558  0.963043  0.403732  0.063532  0.124741
328   0.832482  0.173702  0.878887  0.685973  0.556117
327   0.847588  0.306770  0.040692  0.059680  0.044546
326   0.319454  0.890446  0.450212  0.995536  0.722149
325  0.0452689  0.248573  0.922278  0.310124  0.236091
324   0.997311  0.829543  0.123373  0.826261  0.987367
323  0.0588838  0.690237  0.165767  0.961486  0.676351
322   0.126498  0.069698  0.017946  0.878552  0.785802
321   0.743811  0.329267  0.336133  0.391739  0.907405
320    0.72623  0.395585  0.982110  0.013644  0.540704
..         ...       ...       ...       ...       ...
29   0.0158134  0.363701  0.161564  0.637620  0.310461
28    0.599329  0.342895  0.792880  0.082179  0.946344
27    0.501955  0.471323  0.919715  0.013919  0.970944
26   0.0929464  0.900394  0.942365  0.594409  0.579931
25    0.221282  0.317126  0.760384  0.982561  0.219730
24    0.132332  0.615582  0.029576  0.726982  0.887010
23    0.549128  0.355787  0.296005  0.237947  0.344435
22    0.543105  0.641465  0.166446  0.189534  0.291121
21    0.250501  0.303782  0.833897  0.969842  0.198165
20   0.0383683  0.253440  0.781535  0.349086  0.098643
19     0.58514  0.093294  0.407848  0.749431  0.148650
18     0.59537  0.552836  0.599931  0.712665  0.122319
17    0.943333  0.877352  0.819924  0.412331  0.373845
16    0.402893  0.999536  0.877229  0.862686  0.561427
15    0.436255  0.196791  0.364693  0.663004  0.707608
14    0.165605  0.481599  0.803439  0.586077  0.675024
13     0.16735  0.510396  0.745529  0.152627  0.698433
12    0.817959  0.575569  0.543168  0.383019  0.642238
11    0.272206  0.754393  0.773150  0.574002  0.427535
10    0.821781  0.471302  0.797197  0.086679  0.499984
9     0.669381  0.256853  0.549869  0.680419  0.540239
8     0.647347  0.747085  0.717387  0.413238  0.973112
7     0.974367  0.302756  0.478966  0.304594  0.440142
6     0.290199  0.399276  0.213536  0.139745  0.354598
5     0.893492  0.492561  0.302833  0.508610  0.753406
4     0.682794  0.965463  0.074820  0.898969  0.285052
3     0.998221  0.451612  0.922528  0.711630  0.667078
2     0.901271  0.580773  0.522470  0.711174  0.925488
1     0.868161  0.798061  0.476054  0.519248  0.079829
0        harry  0.395456  0.776960  0.587314  0.969947

[350 rows x 5 columns]

In [29]:
newdf2 = newdf

In [30]:
newdf2[0][0] = 237896

C:\Users\hp\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [31]:
newdf.head()

          0         1         2         3         4
0    237896  0.395456  0.776960  0.587314  0.969947
1  0.868161  0.798061  0.476054  0.519248  0.079829
2  0.901271  0.580773  0.522470  0.711174  0.925488
3  0.998221  0.451612  0.922528  0.711630  0.667078
4  0.682794  0.965463  0.074820  0.898969  0.285052

In [32]:
newdf3 = newdf.copy()

In [33]:
newdf3[0][0] = 876540

C:\Users\hp\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [34]:
newdf.head()

          0         1         2         3         4
0    237896  0.395456  0.776960  0.587314  0.969947
1  0.868161  0.798061  0.476054  0.519248  0.079829
2  0.901271  0.580773  0.522470  0.711174  0.925488
3  0.998221  0.451612  0.922528  0.711630  0.667078
4  0.682794  0.965463  0.074820  0.898969  0.285052

In [35]:
newdf3.head()

          0         1         2         3         4
0    876540  0.395456  0.776960  0.587314  0.969947
1  0.868161  0.798061  0.476054  0.519248  0.079829
2  0.901271  0.580773  0.522470  0.711174  0.925488
3  0.998221  0.451612  0.922528  0.711630  0.667078
4  0.682794  0.965463  0.074820  0.898969  0.285052

In [36]:
newdf.loc[0,0] = 664

In [37]:
newdf.head()

          0         1         2         3         4
0       664  0.395456  0.776960  0.587314  0.969947
1  0.868161  0.798061  0.476054  0.519248  0.079829
2  0.901271  0.580773  0.522470  0.711174  0.925488
3  0.998221  0.451612  0.922528  0.711630  0.667078
4  0.682794  0.965463  0.074820  0.898969  0.285052

In [40]:
newdf = newdf.drop(0, axis=0)

In [39]:
newdf

            1         2         3         4
0    0.395456  0.776960  0.587314  0.969947
1    0.798061  0.476054  0.519248  0.079829
2    0.580773  0.522470  0.711174  0.925488
3    0.451612  0.922528  0.711630  0.667078
4    0.965463  0.074820  0.898969  0.285052
5    0.492561  0.302833  0.508610  0.753406
6    0.399276  0.213536  0.139745  0.354598
7    0.302756  0.478966  0.304594  0.440142
8    0.747085  0.717387  0.413238  0.973112
9    0.256853  0.549869  0.680419  0.540239
10   0.471302  0.797197  0.086679  0.499984
11   0.754393  0.773150  0.574002  0.427535
12   0.575569  0.543168  0.383019  0.642238
13   0.510396  0.745529  0.152627  0.698433
14   0.481599  0.803439  0.586077  0.675024
15   0.196791  0.364693  0.663004  0.707608
16   0.999536  0.877229  0.862686  0.561427
17   0.877352  0.819924  0.412331  0.373845
18   0.552836  0.599931  0.712665  0.122319
19   0.093294  0.407848  0.749431  0.148650
20   0.253440  0.781535  0.349086  0.098643
21   0.303782  0.833897  0.969842  0.198165
22   0.641465  0.166446  0.189534  0.291121
23   0.355787  0.296005  0.237947  0.344435
24   0.615582  0.029576  0.726982  0.887010
25   0.317126  0.760384  0.982561  0.219730
26   0.900394  0.942365  0.594409  0.579931
27   0.471323  0.919715  0.013919  0.970944
28   0.342895  0.792880  0.082179  0.946344
29   0.363701  0.161564  0.637620  0.310461
..        ...       ...       ...       ...
320  0.395585  0.982110  0.013644  0.540704
321  0.329267  0.336133  0.391739  0.907405
322  0.069698  0.017946  0.878552  0.785802
323  0.690237  0.165767  0.961486  0.676351
324  0.829543  0.123373  0.826261  0.987367
325  0.248573  0.922278  0.310124  0.236091
326  0.890446  0.450212  0.995536  0.722149
327  0.306770  0.040692  0.059680  0.044546
328  0.173702  0.878887  0.685973  0.556117
329  0.963043  0.403732  0.063532  0.124741
330  0.561724  0.179081  0.506318  0.316234
331  0.086515  0.689299  0.231827  0.682755
332  0.203925  0.176318  0.766317  0.058893
333  0.586684  0.787865  0.687916  0.008605
334  0.661626  0.703349  0.990872  0.156216
335  0.208784  0.207448  0.702679  0.794562
336  0.699798  0.582243  0.677790  0.443392
337  0.920281  0.375224  0.057183  0.566452
338  0.576547  0.325827  0.394275  0.769777
339  0.152933  0.626717  0.172442  0.142435
340  0.864961  0.104233  0.277078  0.015283
341  0.672298  0.544134  0.702203  0.479389
342  0.245934  0.649996  0.027817  0.625341
343  0.535695  0.955937  0.563943  0.302458
344  0.359449  0.445873  0.210678  0.256163
345  0.739204  0.355807  0.445572  0.128885
346  0.118616  0.067674  0.065454  0.608584
347  0.565737  0.124129  0.295371  0.643030
348  0.493744  0.295683  0.735976  0.297123
349  0.576840  0.947440  0.558787  0.185327

[350 rows x 4 columns]

In [42]:
newdf.loc[[1,2], [1,2,3]]

          1         2         3
1  0.798061  0.476054  0.519248
2  0.580773  0.522470  0.711174

In [43]:
newdf.loc[[1,2], :]

          1         2         3         4
1  0.798061  0.476054  0.519248  0.079829
2  0.580773  0.522470  0.711174  0.925488

In [44]:
newdf.loc[:, [1,2,3]]

            1         2         3
1    0.798061  0.476054  0.519248
2    0.580773  0.522470  0.711174
3    0.451612  0.922528  0.711630
4    0.965463  0.074820  0.898969
5    0.492561  0.302833  0.508610
6    0.399276  0.213536  0.139745
7    0.302756  0.478966  0.304594
8    0.747085  0.717387  0.413238
9    0.256853  0.549869  0.680419
10   0.471302  0.797197  0.086679
11   0.754393  0.773150  0.574002
12   0.575569  0.543168  0.383019
13   0.510396  0.745529  0.152627
14   0.481599  0.803439  0.586077
15   0.196791  0.364693  0.663004
16   0.999536  0.877229  0.862686
17   0.877352  0.819924  0.412331
18   0.552836  0.599931  0.712665
19   0.093294  0.407848  0.749431
20   0.253440  0.781535  0.349086
21   0.303782  0.833897  0.969842
22   0.641465  0.166446  0.189534
23   0.355787  0.296005  0.237947
24   0.615582  0.029576  0.726982
25   0.317126  0.760384  0.982561
26   0.900394  0.942365  0.594409
27   0.471323  0.919715  0.013919
28   0.342895  0.792880  0.082179
29   0.363701  0.161564  0.637620
30   0.259741  0.212127  0.540067
..        ...       ...       ...
320  0.395585  0.982110  0.013644
321  0.329267  0.336133  0.391739
322  0.069698  0.017946  0.878552
323  0.690237  0.165767  0.961486
324  0.829543  0.123373  0.826261
325  0.248573  0.922278  0.310124
326  0.890446  0.450212  0.995536
327  0.306770  0.040692  0.059680
328  0.173702  0.878887  0.685973
329  0.963043  0.403732  0.063532
330  0.561724  0.179081  0.506318
331  0.086515  0.689299  0.231827
332  0.203925  0.176318  0.766317
333  0.586684  0.787865  0.687916
334  0.661626  0.703349  0.990872
335  0.208784  0.207448  0.702679
336  0.699798  0.582243  0.677790
337  0.920281  0.375224  0.057183
338  0.576547  0.325827  0.394275
339  0.152933  0.626717  0.172442
340  0.864961  0.104233  0.277078
341  0.672298  0.544134  0.702203
342  0.245934  0.649996  0.027817
343  0.535695  0.955937  0.563943
344  0.359449  0.445873  0.210678
345  0.739204  0.355807  0.445572
346  0.118616  0.067674  0.065454
347  0.565737  0.124129  0.295371
348  0.493744  0.295683  0.735976
349  0.576840  0.947440  0.558787

[349 rows x 3 columns]

In [46]:
newdf.loc[(newdf[1]<0.4)]

            1         2         3         4
6    0.399276  0.213536  0.139745  0.354598
7    0.302756  0.478966  0.304594  0.440142
9    0.256853  0.549869  0.680419  0.540239
15   0.196791  0.364693  0.663004  0.707608
19   0.093294  0.407848  0.749431  0.148650
20   0.253440  0.781535  0.349086  0.098643
21   0.303782  0.833897  0.969842  0.198165
23   0.355787  0.296005  0.237947  0.344435
25   0.317126  0.760384  0.982561  0.219730
28   0.342895  0.792880  0.082179  0.946344
29   0.363701  0.161564  0.637620  0.310461
30   0.259741  0.212127  0.540067  0.759307
34   0.305015  0.553050  0.982630  0.305226
35   0.329495  0.542701  0.595525  0.847276
36   0.309600  0.358910  0.689658  0.384437
37   0.173385  0.575591  0.784857  0.634720
38   0.344617  0.449934  0.954651  0.565867
39   0.073274  0.705457  0.349152  0.409996
43   0.016302  0.272340  0.323333  0.356989
44   0.124068  0.847225  0.155742  0.422173
45   0.008590  0.181937  0.904879  0.658415
46   0.230171  0.230671  0.583904  0.881549
49   0.355902  0.721896  0.172317  0.184919
51   0.324288  0.497548  0.282980  0.108875
52   0.337106  0.367398  0.396964  0.928441
54   0.394943  0.529894  0.490548  0.430992
57   0.071291  0.587872  0.325014  0.716525
59   0.376777  0.030521  0.358230  0.318578
61   0.185240  0.485600  0.123282  0.084253
62   0.194700  0.505206  0.106214  0.363381
..        ...       ...       ...       ...
286  0.187175  0.803531  0.911486  0.172292
288  0.393322  0.229959  0.201336  0.003773
291  0.129467  0.061913  0.577506  0.641725
292  0.151522  0.818130  0.025641  0.429260
293  0.194115  0.525333  0.378770  0.829838
295  0.172840  0.491344  0.959198  0.378918
296  0.337593  0.324326  0.772293  0.340945
299  0.337368  0.990110  0.200605  0.840088
301  0.166862  0.092936  0.662732  0.973654
305  0.113335  0.573870  0.284043  0.697169
306  0.195398  0.914559  0.332773  0.673225
307  0.193464  0.547748  0.867661  0.990378
308  0.305414  0.747656  0.793568  0.894011
311  0.095920  0.270600  0.354840  0.644603
312  0.299141  0.910991  0.820870  0.890136
317  0.140027  0.507806  0.303381  0.408098
318  0.355976  0.891760  0.237403  0.644736
320  0.395585  0.982110  0.013644  0.540704
321  0.329267  0.336133  0.391739  0.907405
322  0.069698  0.017946  0.878552  0.785802
325  0.248573  0.922278  0.310124  0.236091
327  0.306770  0.040692  0.059680  0.044546
328  0.173702  0.878887  0.685973  0.556117
331  0.086515  0.689299  0.231827  0.682755
332  0.203925  0.176318  0.766317  0.058893
335  0.208784  0.207448  0.702679  0.794562
339  0.152933  0.626717  0.172442  0.142435
342  0.245934  0.649996  0.027817  0.625341
344  0.359449  0.445873  0.210678  0.256163
346  0.118616  0.067674  0.065454  0.608584

[141 rows x 4 columns]

In [47]:
newdf.loc[(newdf[1]<0.4) & (newdf[2]>0.5)]

            1         2         3         4
9    0.256853  0.549869  0.680419  0.540239
20   0.253440  0.781535  0.349086  0.098643
21   0.303782  0.833897  0.969842  0.198165
25   0.317126  0.760384  0.982561  0.219730
28   0.342895  0.792880  0.082179  0.946344
34   0.305015  0.553050  0.982630  0.305226
35   0.329495  0.542701  0.595525  0.847276
37   0.173385  0.575591  0.784857  0.634720
39   0.073274  0.705457  0.349152  0.409996
44   0.124068  0.847225  0.155742  0.422173
49   0.355902  0.721896  0.172317  0.184919
54   0.394943  0.529894  0.490548  0.430992
57   0.071291  0.587872  0.325014  0.716525
62   0.194700  0.505206  0.106214  0.363381
70   0.286996  0.652705  0.053777  0.864031
82   0.236641  0.801715  0.185474  0.474216
89   0.373378  0.882527  0.362184  0.354461
91   0.097866  0.885505  0.708768  0.367491
95   0.246156  0.568849  0.771932  0.909974
116  0.258069  0.606986  0.536470  0.966086
119  0.188858  0.564332  0.443725  0.244530
128  0.214077  0.757723  0.670545  0.093116
137  0.326054  0.871970  0.808181  0.734818
141  0.281004  0.719077  0.551309  0.078198
149  0.255811  0.596786  0.818640  0.326675
157  0.252991  0.720995  0.659631  0.023921
162  0.052971  0.974267  0.016933  0.718778
165  0.123182  0.776063  0.885121  0.211447
176  0.337959  0.546274  0.671387  0.430965
181  0.105120  0.515642  0.177287  0.682338
..        ...       ...       ...       ...
203  0.096636  0.691615  0.200909  0.660585
204  0.152475  0.765095  0.600034  0.132678
206  0.158508  0.723001  0.505650  0.473759
207  0.170105  0.909706  0.444131  0.923140
218  0.001366  0.731076  0.818922  0.148075
225  0.033799  0.923234  0.415611  0.288328
228  0.199918  0.932961  0.030809  0.472219
244  0.328267  0.569393  0.890708  0.527908
248  0.242689  0.547858  0.287935  0.558704
253  0.313234  0.834711  0.868037  0.114173
256  0.073221  0.645673  0.262750  0.195859
258  0.115956  0.663362  0.325639  0.294142
267  0.289634  0.896209  0.603475  0.377179
286  0.187175  0.803531  0.911486  0.172292
292  0.151522  0.818130  0.025641  0.429260
293  0.194115  0.525333  0.378770  0.829838
299  0.337368  0.990110  0.200605  0.840088
305  0.113335  0.573870  0.284043  0.697169
306  0.195398  0.914559  0.332773  0.673225
307  0.193464  0.547748  0.867661  0.990378
308  0.305414  0.747656  0.793568  0.894011
312  0.299141  0.910991  0.820870  0.890136
317  0.140027  0.507806  0.303381  0.408098
318  0.355976  0.891760  0.237403  0.644736
320  0.395585  0.982110  0.013644  0.540704
325  0.248573  0.922278  0.310124  0.236091
328  0.173702  0.878887  0.685973  0.556117
331  0.086515  0.689299  0.231827  0.682755
339  0.152933  0.626717  0.172442  0.142435
342  0.245934  0.649996  0.027817  0.625341

[65 rows x 4 columns]